
{% extends "base.html" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='about.css') }}"/>
{% endblock %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    App Name
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
	<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
	<a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container main">
  <h1>Thanks!</h1>
  <p>
    This was a project made by <a href="https://github.com/lem0n4id">lem0n4id</a> and <a href="https://githu.com/pspiagicw">pspiagicw</a> for the Xhacks hackathon. This project is an attemp to build a web app dedicated to convert youtube videos into audio(mp3) files.
  </p>
  <p>
    The XHacks Hackathon was a 36 hour competition to build a application to build a app.The hackathon was a very good experience for us. We definately faced a lot of challenges but the Hackathon officials were quick to guide and help us. Thanks to them for such a great experience.And thanks to the sponsors of the Hackathon for supporting such a endevour.
  </p>
  <p>
    The project was built using Flask and basic HTML and CSS. It uses youtube-dl in the background to download and transfer the required files.Thanks to lem0n4id for the excellent work on the back-end and deployment.
  </p>
</div>
{% endblock %}
