{% extends "base.html" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}"/>
{% endblock %}
{% block main %}
</script>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <form id="urlform" action="/music" method="POST">
	<input class="search_input" type="text" id="searchbar" name="url" placeholder="Url...">
	<button type="submit"  class="search_icon"><i class="fas fa-music"></i></button>
	</form>
    </div>
  </div>
</div>
{% endblock %}
