{% extends "base.html" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='music.css') }}"/>
{% endblock %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
 <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
 App Name
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container center-div">
  <div class="container row">
    <div class="container col-4">
      <img src="{{ video_thumbnail }}"/ class="img-fliud thumbnail" alt="Video Thumbnail">
    </div>
    <div class="col-8 container info">
      <div class="container row">
	<p class="text-center title-label">{{ video_title }}</p>
      </div>
      <div class="container row">
	<div class="container col-auto">
	  <p class="duration-label">Duration(Seconds)</p>
	</div>
	<div class="container col-auto">
	  <p id="duration">{{ video_duration }}</p>
	</div>
	<div class="container col-auto">
	  <p class="format-label">Format</p>
	</div>
	<div class="container col-auto">
	  <select class="form-control">
	    <option>mp3</option>
	  </select>
	</div>
      </div>
      <div class="row container" id="download-button">
      <form id="dwform" action="/dw" method="POST">
	      <a href="{{ url_for('download_anchor') }}"><button type="submit" name='download' class="btn btn-success">Download Now!</button></a>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
