{% extends "base.html" %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='music.css') }}"/>
{% endblock %}
{% block main %}
<div class="container center-div">
  <div class="container row">
    <div class="container row">
      <h1 class="display-6 title text-center">Your download is ready!</h1>
    </div>
    <div class="container col-4">
      <img src="{{ video_thumbnail }}"/ class="img-fliud thumbnail" alt="Video Thumbnail">
    </div>
    <div class="col-8 container info">
      <div class="container row">
	<p class="text-center title-label">{{ video_title }}</p>
      </div>
      <div class="container row">
	<div class="container col-auto">
	  <p class="duration-label">Duration(Seconds)</p>
	</div>
	<div class="container col-auto">
	  <p id="duration">{{ video_duration }}</p>
	</div>
	<div class="container col-auto">
	  <p class="format-label">Format</p>
	</div>
	<div class="container col-auto">
	  <select class="form-control">
	    <option>mp3</option>
	  </select>
	</div>
      </div>
      <div class="row container" id="download-button">
	<form id="dwform" action="/dw" method="POST">
	  <a href="{{ url_for('download_anchor') }}"><button type="submit" name='download' class="btn btn-success">Download Now!</button></a>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
